/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height:59px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;

}

/* logo and image */
#logo{
    margin: 10px 24px;
}
#logo img{
    margin: 14px 15px;
    height: 60px;
}


/* navbar list styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}

#navbar::before{
    content:" ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 5px 22px;
    border-radius: 20px;
    color: white;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color:white ;

}